* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

.wholebox {
    min-height: 1000px;
    width: 100%;
    color: black;
    background-color: rgb(48, 169, 210);
    overflow-x: hidden;
    font-size: 16px;
}

header {
    position: relative;
    height: 100px;
    font-weight: 500;
    background-color: rgb(168, 127, 255);

}

.hus_ikon {
    height: 20px;
    padding-right: 10px;
}

.logo {
    padding-left: 15px;
    height: 70px;

}

.nav_header {
    position: absolute;
    right: 15px;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.nav_header ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;


}

.nav_header ul li {
    padding-right: 10px;
}


ul li a {
    text-decoration: none;
    color: #fdf9ef;

}

/* la otra seccion aparte de header */
.contenedor_content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgb(137, 34, 130);

}

/* ahora, las 2 cajas dentro de el contenedor.cajas principales */
.links_aside_box {
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    /* min-width: 100px; */
    height: 100%;
    flex-basis: 25%;
    background-color: rgb(28, 9, 96);
}

.second_links ul {


    display: block;
    padding-bottom: 20px;

    list-style: none;


}

.second_links ul li {
    padding-bottom: 15px;


}



/* eso fue la primera caja de los links al lado */
.courses_and_others_box {

    /* justify-content: center; */
    height: 100%;
    width: 100%;
    /* es importante poner el width al 100%, para que agarre lo restante */
    display: flex;
    flex-wrap: wrap;
    background-color: #0f484b;
    flex-direction: column;
}

/* Esta caja tendra 3 secciones    */
/* a declarar las 3 secciones */

.only_courses {
    /* flex-grow: 1; */
    /* para que tome todo el espacio */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* min-height: 2000px; */

    background-color: blue;

}

.box_image_couse {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    background-color: pink;
    padding: 10px;
    flex-grow: 1;
    margin-bottom: 25px;
    /* flex-box,para que agarre el campo restante */

}

.image_courses {
    flex-grow: 1;
    height: 250px;
    width: 320px;
    /* width: 300px; */
    /* height: auto; */
    border-radius: 10px;


}

.tools_only {
    flex-grow: 1;
    min-height: 25%;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
}

footer {

    background-color: aqua;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

/* media queries */
@media (min-width:296px)and (max-width:480px) {
    .second_links {
        font-size: 18px;

    }

}

@media (min-width:481x)and (max-width:782px) {
    .logo {

        height: 80px;

    }

    .second_links {
        font-size: 26px;

    }

    .box_image_couse {
        padding: 20px;
        width: 300px;
        height: 480px;

    }

    .image_courses {

        height: 350px;
        width: 380px;
    }
}

@media (min-width:783px)and (max-width:900px) {
    .logo {

        height: 90px;

    }

    .second_links {
        font-size: 32px;

    }

    .box_image_couse {
        padding: 20px;
        width: 400px;
        height: 450px;


    }

    .image_courses {

        height: 450px;
        width: 500px;



    }
}

@media (min-width:901px)and (max-width:1000px) {
    .logo {

        height: 90px;

    }

    .second_links {
        font-size: 36px;

    }

    .box_image_couse {
        padding: 20px;
        width: 500px;
        height: 550px;


    }

    .image_courses {

        height: 500px;
        width: 550px;



    }
}

@media (min-width:1001px)and (max-width:2000px) {
    .logo {

        height: 100px;

    }

    .second_links {
        font-size: 36px;

    }

    .box_image_couse {
        padding: 20px;
        width: 600px;
        height: 550px;


    }

    .image_courses {

        height: 500px;
        width: 700px;



    }
}