 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 main {
     min-height: 1000px;
     background-color: #5d768b;
     font-family: 'montserrat';
     color: black;
 }

 header {
     position: relative;
     height: 100px;
     background-color: bisque;
 }

 .logo {
     width: 80px;
     height: 80px;
     float: left;
     padding: 1em 0 0 1em;
 }



 ul {
     display: flex;
     list-style-type: none;

 }

 ul li {
     padding: .5em;
 }

 ul li a {
     text-decoration: none;
     color: black;

 }

 nav {

     position: absolute;
     top: 2em;
     right: 2em;


 }

 /*-------------------------------------*/
 .flere_backgrounds_animation {
     min-height: 350px;
     width: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     /*  background-size: 100% 100%;*/
     animation: slides 40s linear infinite;
     position: relative;


 }

 @keyframes slides {
     0% {

         background-image: url(images/man-headphones-video-call-meeting-group.jpg);

     }

     35% {
         background-image: url(images/phonecall_therapy.jpg);
     }

     70% {
         background-image: url(images/chat_therapy.jpg);
     }

     100% {
         background-image: url(images/one\ to\ one_therapy.jpeg);
     }
 }


 .image_text {
     position: absolute;
     top: 2%;
     left: 5%;
     font-family: 'montserrat extrabold';
     font-size: 24px;


 }

 .first_text {
     opacity: 0;
     animation: aparecer 40s infinite;

 }

 @keyframes aparecer {

     0% {
         opacity: 1;

     }

     /* En el 100% de la animación, el texto es completamente visible */
     35% {
         opacity: 0;
     }

     70% {
         opacity: 0;
     }

     100% {
         opacity: 0;
     }
 }

 /*--------------------------*/
 .second_text {
     opacity: 0;
     animation: aparecer2 40s linear infinite;

 }

 @keyframes aparecer2 {

     0% {
         opacity: 0;
     }

     /* En el 100% de la animación, el texto es completamente visible */
     35% {
         opacity: 1;
     }

     70% {
         opacity: 0;
     }

     100% {
         opacity: 0;
     }
 }

 .third_text {
     opacity: 0;
     animation: aparecer3 40s linear infinite;

 }

 @keyframes aparecer3 {

     0% {
         opacity: 0;
     }

     /* En el 100% de la animación, el texto es completamente visible */
     35% {
         opacity: 0;
     }

     70% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }
 }

 .fourth_text {
     opacity: 0;
     animation: aparecer4 40s linear infinite;

 }

 @keyframes aparecer4 {

     0% {
         opacity: 0;
     }

     /* En el 100% de la animación, el texto es completamente visible */
     35% {
         opacity: 0;
     }

     70% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 /*   content inhold ------------------------*/
 @media (max-width:960px) {
     .flere_backgrounds_animation {
         max-height: 320px
     }

     .image_text {
         font-size: 24px;
     }
 }

 @media (min-width:1000px)and (max-width:2000px) {
     .flere_backgrounds_animation {
         height: 500px
     }

     .image_text {
         font-size: 35px;
     }
 }

 @media (max-width:5000px) {
     .flere_backgrounds_animation {
         height: 900px
     }

 }



 .comments {
     min-height: 20rem;
     background-color: blueviolet;
 }



 footer {
     background-color: aquamarine;
     height: 100px;
 }